*{
    margin: 0;
    padding: 0;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 10vw;
    border: black 1px solid;
    border-radius: 5px;
    padding: 80px;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-80%,-30%);
    
}